<dom-module id="edit-book">
  <template>
    <style include="granite-bootstrap-min">
      :host {
        display: block;
      }
      .form-group {
        margin-right: 36px;
      }
    </style>
    <form class="form-inline">
      <label for="inputTitle" class="sr-only">Title</label>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-2" id="inputTitle" value="{{title::input}}" placeholder="Title">
      <label for="inputAuthor" class="sr-only">Author</label>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-2" id="inputAuthor" value="{{author::input}}" placeholder="Author">
      <label for="inputPrice" class="sr-only">Price</label>
      <input type="price" class="form-control mb-2 mr-sm-2 mb-sm-2" id="inputPrice" value="{{price::input}}" placeholder="Price">
      <div class="btn btn-primary" on-click="doAction">[[message]] user</div>
    </form>
  </template>
  <script>
    class EditBook extends Polymer.Element {
      static get is() { return 'edit-book'; }

      static get properties() {
        return {
          title: {
            type: String,
            value: '',
          },
          author: {
            type: String,
            value: '',
          },
          price: {
            type: String,
            value: '',
          },
          message: {
            type: String,
            value: '',
          },
        };
      }

      read() {
        this.books = [];
      }

      doAction() {
        this.dispatchEvent(new CustomEvent('book-edit', {detail: {
            title: this.title,
            author: this.author,
            price: this.price,
        }}));
        this.title = undefined;
        this.author = undefined;
        this.price = undefined;
      }
    }

    window.customElements.define(EditBook.is, EditBook);
  </script>
</dom-module>
